CRD.Common/ClientSystem/Service References/ClientSystemServices/Text11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddSystemModel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SelectMobile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SelectMobile">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="scmId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="scmOid" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="scmNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="scmType" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="scmName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="scmRemainAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="scmSubTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="scmExecTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="scmState" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="scmPayPort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scSelectStart" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scmNote1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="scmNote2" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSystemModelResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSystemModelResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectSelectMobileByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="scmId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectSelectMobileByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectSelectMobileByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectOneSelectStratMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="type" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectOneSelectStratMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectOneSelectStratMobileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateOneSelectMobile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="model" type="tns:SelectMobile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateOneSelectMobileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateOneSelectMobileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lm" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BTResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ST">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="c" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="STResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="STResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetXResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassOrNot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="valation1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valation2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valation3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="n1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="n2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="n3" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PassOrNotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PassOrNotResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OfficeLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loginName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="loginPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="machineMark" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OfficeLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OfficeLoginResult" type="tns:OfficeInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OfficeInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ofParentId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ofId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ofLogin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofLinkman" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofArea" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ofRegTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="ofState" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofNote" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofPara1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ofPara2" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSystemModelSoapIn">
    <wsdl:part name="parameters" element="tns:AddSystemModel" />
  </wsdl:message>
  <wsdl:message name="AddSystemModelSoapOut">
    <wsdl:part name="parameters" element="tns:AddSystemModelResponse" />
  </wsdl:message>
  <wsdl:message name="selectSelectMobileByIDSoapIn">
    <wsdl:part name="parameters" element="tns:selectSelectMobileByID" />
  </wsdl:message>
  <wsdl:message name="selectSelectMobileByIDSoapOut">
    <wsdl:part name="parameters" element="tns:selectSelectMobileByIDResponse" />
  </wsdl:message>
  <wsdl:message name="selectOneSelectStratMobileSoapIn">
    <wsdl:part name="parameters" element="tns:selectOneSelectStratMobile" />
  </wsdl:message>
  <wsdl:message name="selectOneSelectStratMobileSoapOut">
    <wsdl:part name="parameters" element="tns:selectOneSelectStratMobileResponse" />
  </wsdl:message>
  <wsdl:message name="updateOneSelectMobileSoapIn">
    <wsdl:part name="parameters" element="tns:updateOneSelectMobile" />
  </wsdl:message>
  <wsdl:message name="updateOneSelectMobileSoapOut">
    <wsdl:part name="parameters" element="tns:updateOneSelectMobileResponse" />
  </wsdl:message>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="BTSoapIn">
    <wsdl:part name="parameters" element="tns:BT" />
  </wsdl:message>
  <wsdl:message name="BTSoapOut">
    <wsdl:part name="parameters" element="tns:BTResponse" />
  </wsdl:message>
  <wsdl:message name="STSoapIn">
    <wsdl:part name="parameters" element="tns:ST" />
  </wsdl:message>
  <wsdl:message name="STSoapOut">
    <wsdl:part name="parameters" element="tns:STResponse" />
  </wsdl:message>
  <wsdl:message name="GetXSoapIn">
    <wsdl:part name="parameters" element="tns:GetX" />
  </wsdl:message>
  <wsdl:message name="GetXSoapOut">
    <wsdl:part name="parameters" element="tns:GetXResponse" />
  </wsdl:message>
  <wsdl:message name="PassOrNotSoapIn">
    <wsdl:part name="parameters" element="tns:PassOrNot" />
  </wsdl:message>
  <wsdl:message name="PassOrNotSoapOut">
    <wsdl:part name="parameters" element="tns:PassOrNotResponse" />
  </wsdl:message>
  <wsdl:message name="OfficeLoginSoapIn">
    <wsdl:part name="parameters" element="tns:OfficeLogin" />
  </wsdl:message>
  <wsdl:message name="OfficeLoginSoapOut">
    <wsdl:part name="parameters" element="tns:OfficeLoginResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="AddSystemModel">
      <wsdl:input message="tns:AddSystemModelSoapIn" />
      <wsdl:output message="tns:AddSystemModelSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectSelectMobileByID">
      <wsdl:input message="tns:selectSelectMobileByIDSoapIn" />
      <wsdl:output message="tns:selectSelectMobileByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectOneSelectStratMobile">
      <wsdl:input message="tns:selectOneSelectStratMobileSoapIn" />
      <wsdl:output message="tns:selectOneSelectStratMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateOneSelectMobile">
      <wsdl:input message="tns:updateOneSelectMobileSoapIn" />
      <wsdl:output message="tns:updateOneSelectMobileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input message="tns:GetListSoapIn" />
      <wsdl:output message="tns:GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BT">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">沙建文</wsdl:documentation>
      <wsdl:input message="tns:BTSoapIn" />
      <wsdl:output message="tns:BTSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ST">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">沙建文</wsdl:documentation>
      <wsdl:input message="tns:STSoapIn" />
      <wsdl:output message="tns:STSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">沙建文</wsdl:documentation>
      <wsdl:input message="tns:GetXSoapIn" />
      <wsdl:output message="tns:GetXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PassOrNot">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">沙建文</wsdl:documentation>
      <wsdl:input message="tns:PassOrNotSoapIn" />
      <wsdl:output message="tns:PassOrNotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OfficeLogin">
      <wsdl:input message="tns:OfficeLoginSoapIn" />
      <wsdl:output message="tns:OfficeLoginSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSystemModel">
      <soap:operation soapAction="http://tempuri.org/AddSystemModel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSelectMobileByID">
      <soap:operation soapAction="http://tempuri.org/selectSelectMobileByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectOneSelectStratMobile">
      <soap:operation soapAction="http://tempuri.org/selectOneSelectStratMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOneSelectMobile">
      <soap:operation soapAction="http://tempuri.org/updateOneSelectMobile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BT">
      <soap:operation soapAction="http://tempuri.org/BT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ST">
      <soap:operation soapAction="http://tempuri.org/ST" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetX">
      <soap:operation soapAction="http://tempuri.org/GetX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassOrNot">
      <soap:operation soapAction="http://tempuri.org/PassOrNot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfficeLogin">
      <soap:operation soapAction="http://tempuri.org/OfficeLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSystemModel">
      <soap12:operation soapAction="http://tempuri.org/AddSystemModel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSelectMobileByID">
      <soap12:operation soapAction="http://tempuri.org/selectSelectMobileByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectOneSelectStratMobile">
      <soap12:operation soapAction="http://tempuri.org/selectOneSelectStratMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateOneSelectMobile">
      <soap12:operation soapAction="http://tempuri.org/updateOneSelectMobile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="http://tempuri.org/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BT">
      <soap12:operation soapAction="http://tempuri.org/BT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ST">
      <soap12:operation soapAction="http://tempuri.org/ST" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetX">
      <soap12:operation soapAction="http://tempuri.org/GetX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PassOrNot">
      <soap12:operation soapAction="http://tempuri.org/PassOrNot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OfficeLogin">
      <soap12:operation soapAction="http://tempuri.org/OfficeLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://222.89.136.52:8024/Text.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://222.89.136.52:8024/Text.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>